div{
    width:100%;
    height:400px;
    background-color: red;
}
@media(min-width:700px){
    div{
            background-color: blue;
    }

}
@media(min-width:900px){
    div{
        background-color: black;
    }
}