.main{
   height:500px;
   width:500px;
    background-color:#87ceeb;
    display:grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-template-rows:100px 100px 100px 100px 100px;

}
h3{
    text-align:center;
}
.one{
    grid-row: 1/1;
    grid-column:1/6;
    background-color:blue;

}
.two{
    background-color:yellow;
     grid-row: 2/5;
    grid-column:1/1;
}
.three{
    background-color: blueviolet;
    grid-row: 2/6;
    grid-column:2/6;
}
.four{
     background-color: red;
    grid-row: 5/6;
    grid-column:1/6;
}