.main{

    
    display:grid;
    grid-template-rows:100px 100px 100px;
    grid-template-columns:100px  100px 100px;
    gap:5px;
     
}
.box{
    background:skyblue;
    row-gap: 30px;
    display:flex;
    justify-content:center;
    align-items:center;
    border:black solid 1px;
    
}
